/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

html, body {
  min-height: 100%; }

body {
  line-height: 1;
  font-size: 16px; }

input[type="text"],
input[type="password"],
input[type="phone"],
textarea,
select {
  outline-style: none;
  box-shadow: none;
  padding: 5px 0;
  width: 100%;
  height: auto;
  border: none; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a,
a:hover,
a:visited,
a:focus,
a:active {
  text-decoration: none;
  color: inherit; }

.btn {
  display: block;
  background-color: #8bc717;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #8bc717;
  color: #FFF;
  text-decoration: none;
  text-shadow: none;
  padding: 5px 5% 5px 5%;
  margin: 5px 0 5px 0;
  min-height: 34px; }
  .btn:hover {
    background-color: #8bc717; }

a.search-button,
.search-button
a.search-button:hover,
.search-button:hover,
a.search-button:active,
.search-button:active {
  width: 100px !important;
  height: 100px !important;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  padding: 0 !important;
  margin: 20px auto !important; }
  a.search-button span,
  .search-button
a.search-button:hover span,
  .search-button:hover span,
  a.search-button:active span,
  .search-button:active span {
    display: block;
    margin-top: 25px;
    font-size: 50px; }

@font-face {
  font-family: 'scooped';
  src: url("../styles/fonts/scooped.eot?qtspmz");
  src: url("../styles/fonts/scooped.eot?#iefixqtspmz") format("embedded-opentype"), url("../styles/fonts/scooped.woff?qtspmz") format("woff"), url("../styles/fonts/scooped.ttf?qtspmz") format("truetype"), url("../styles/fonts/scooped.svg?qtspmz#scooped") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  font-family: 'scooped';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-forward:before {
  content: "\e615"; }

.icon-maennlich:before {
  content: "\e612"; }

.icon-weiblich:before {
  content: "\e613"; }

.icon-scoop:before {
  content: "\e602"; }

.icon-pencil:before {
  content: "\e600"; }

.icon-envelope:before {
  content: "\e601"; }

.icon-user:before {
  content: "\e60d"; }

.icon-search:before {
  content: "\e604"; }

.icon-settings:before {
  content: "\e605"; }

.icon-target:before {
  content: "\e60c"; }

.icon-cancel-circle:before {
  content: "\e603"; }

.icon-close:before {
  content: "\e607"; }

.icon-spinner:before {
  content: "\e609"; }

.icon-remove:before {
  content: "\e610"; }

.icon-blocked:before {
  content: "\e60a"; }

.icon-checkmark:before {
  content: "\e606"; }

.icon-minus:before {
  content: "\e608"; }

.icon-plus:before {
  content: "\e60e"; }

.icon-loop:before {
  content: "\e60f"; }

.icon-arrow-left:before {
  content: "\e611"; }

.icon-pfeil-more:before {
  content: "\e60b"; }

/**
 * Body
 */
body {
  width: 100%;
  color: #777777;
  background-color: #FFF; }

input[type="text"],
input[type="password"],
input[type="phone"],
textarea,
select {
  color: #777777;
  background-color: #FFF;
  font-size: 125%; }

/**
 *
 */
.header,
.footer {
  position: fixed;
  width: 90%;
  padding: 5%;
  left: 0;
  height: 40px;
  z-index: 999; }
  .header > *,
  .footer > * {
    color: #FFF; }

.header {
  top: 0;
  height: 60px;
  padding: 0 5%;
  background-color: #8bc717; }

.footer {
  bottom: 0;
  height: 50px;
  padding: 0 5%;
  background-color: #8bc717;
  color: #FFF;
  font-size: 30px; }
  .footer > div {
    margin-top: 5px; }

.container {
  padding: 60px 5%; }

/**
 * divs
 */
.row {
  margin: 5px 0; }

.g33 {
  float: left;
  width: 33%; }

.text-center {
  text-align: center; }

/**
 * icons
 */
.icon {
  color: #FFF; }
  .icon.active-true {
    color: green; }

/**
 * Fonts
 */
.green-font {
  color: #8bc717; }

.red-font {
  color: #f00; }
