$color-font         : #333;
$color-blue         : #00B7E5;
$color-blue-light   : #84DCE5;
$color-white        : #FFF;
$color-red          : #f00;
$color-grey         : #777777;
$color-grey-light   : #cccccc;
$color-grey-lighter : #dcdcdc;
$color-grey-dark    : #666;
$color-orange       : #FF7500;
$color-green        : #0b983a;
$color-green-light  : #96c11f;
$color-green-yellow : #96c11f;
$color-black        : #000;