@import "reset";
@import "colors";
@import "buttons";
@import "icons";
@import "slider";
@import "typography";
/**
 * Body
 */
body{
  width: 100%;
  color: $color-grey;
  background-color: $color-white;
  font-family: 'open_sansregular';
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="phone"],
textarea,
select {
  color: $color-grey;
  background-color: $color-white;
  font-size: 125%;
}

/**
 *
 */
.header,
.footer{
  position: fixed;
  width: 90%;
  padding: 5%;
  left:0;
  height: 40px;
  z-index: 999;
  > * {
    color: $color-white;
  }
}

.header{
  top: 0;
  height: 60px;
  line-height: 60px;
  padding: 0 5%;
  background-color: $color-green-light;
}

.footer{
  bottom:0;
  height: 50px;
  padding: 0 5%;
  background-color: $color-green-light;
  color: $color-white;
  font-size: 30px;
  > div {
    margin-top: 5px;
  }
}
.container{
  padding: 60px 5%;
  .modal > & {
    position: absolute;
    height: 100%;
    width: 90%;
    background-color: white;
    display: block;
    top: 0;
    left: 0;
    z-index: 9;
  }
}
/**
 * divs
 */
.row{
  margin: 10px 0;
}
.g25{
  float: left;
  width: 25%;
}
.g33{
  float: left;
  width: 33%;
}
.g50{
  float: left;
  width: 50%;
}
.text-center{
  text-align: center;
}
#forRadar{
  margin-top: 60px;
}
#slider {
  position: absolute;
  bottom: 45px;
  left: 0;
  width: 90%;
  padding: 0 5% 0 5%;
}
/*
 *
 */
.switch {
  overflow: auto;
  > div {
    min-height: 34px;
    line-height: 34px;
    span {
      line-height: 34px;
    }

    &.active {
      background-color: $color-green-light;
      color: $color-white;
    }
  }
}
/*
 * float
 */
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
/**
 * icons
 */
.icon{
  color: $color-white;
  &.active-true{
    color: green;
  }
}

/**
 * Fonts
 */
.green-font{
  color: $color-green-light;
}
.red-font{
  color: $color-red;
}

/*
 * Forms
 */
.label{
  font-size: 80%;
}

/*
 * close
 */
.close {
  z-index: 1000;
  color: white;
  display: block;
  position: absolute;
  margin: 25px 0 0 20px;
  .modal > & {
    position: absolute;
    top: 0;
  }
}

/**
 * success
 */
.success {
  background-color: $color-green;
  display: block;
  overflow: auto;
  span {
    padding: 5px;
    color: $color-white;
    display: block;
  }
}

/**
 * error
 */
.error {
  background-color: $color-red;
  display: block;
  overflow: auto;
  span {
    padding: 5px;
    color: $color-white;
    display: block;
  }
}

/**
 * user profile
 */
.profile{
  h3{
    font-weight: bold;
    margin: 10px 0 10px 0;
  }
  .description{
    font-style: italic;
    padding: 20px;
    border: 1px solid $color-grey-lighter;
  }
}