<div class="close">
    <a href="#/settings">
        <span class="icon-close"></span>
    </a>
</div>
<div class="container">
    <p>Datenschutzerkl&auml;rung</p>
    <p>&nbsp;</p>
    <p>Die Nutzung unserer Seite ist ohne  eine Angabe von personenbezogenen Daten m&ouml;glich. F&uuml;r die Nutzung einzelner  Services unserer Seite k&ouml;nnen sich hierf&uuml;r abweichende Regelungen ergeben, die in  diesem Falle nachstehend gesondert erl&auml;utert werden. Ihre personenbezogenen  Daten (z.B. Name, Anschrift, E-Mail, Telefonnummer, u.&auml;.) werden von uns nur  gem&auml;&szlig; den Bestimmungen des deutschen Datenschutzrechts verarbeitet. Daten sind dann  personenbezogen, wenn sie eindeutig einer bestimmten nat&uuml;rlichen Person  zugeordnet werden k&ouml;nnen. Die rechtlichen Grundlagen des Datenschutzes finden  Sie im Bundesdatenschutzgesetz (BDSG) und dem Telemediengesetz (TMG). Nachstehende  Regelungen informieren Sie insoweit &uuml;ber die Art, den Umfang und Zweck der  Erhebung, die Nutzung und die Verarbeitung von personenbezogenen Daten durch  den Anbieter</p>
    <p>&nbsp;</p>
    <p>
        Cafelingo<br>
        Marek Sonnabend<br>
        Gubener Strasse 44<br>
        10243 Berlin <br>
    </p>
    <p>
        Tel: +49 (0) 30 53798695
    </p>
    <p>
        E-Mail: <a href="mailto:info@cafelingo.de">info@cafelingo.de</a>
    </p>
    <p>&nbsp;</p>
    <p>
        Wir weisen darauf hin, dass die  internetbasierte Daten&uuml;bertragung Sicherheitsl&uuml;cken aufweist, ein l&uuml;ckenloser  Schutz vor Zugriffen durch Dritte somit unm&ouml;glich ist.
    </p>
    <p>&nbsp;</p>
    <p>Cookies</p>
    <p>&nbsp;</p>
    <p>Wir  verwenden auf unserer Seite sog. Cookies zum Wiedererkennen mehrfacher Nutzung unseres  Angebots, durch denselben Nutzer/Internetanschlussinhaber. Cookies sind kleine  Textdateien, die Ihr Internet-Browser auf Ihrem Rechner ablegt und speichert.  Sie dienen dazu, unseren Internetauftritt und unsere Angebote zu optimieren. Es  handelt sich dabei zumeist um sog. "Session-Cookies", die nach dem  Ende Ihres Besuches wieder gel&ouml;scht werden.<br>
        Teilweise  geben diese Cookies jedoch Informationen ab, um Sie automatisch wieder zu  erkennen. Diese Wiedererkennung erfolgt aufgrund der in den Cookies  gespeicherten IP-Adresse. Die so erlangten Informationen dienen dazu, unsere  Angebote zu optimieren und Ihnen einen leichteren Zugang auf unsere Seite zu  erm&ouml;glichen.<br>
        Sie k&ouml;nnen  die Installation der Cookies durch eine entsprechende Einstellung Ihres  Browsers verhindern; wir weisen Sie jedoch darauf hin, dass Sie in diesem Fall  gegebenenfalls nicht s&auml;mtliche Funktionen unserer Website vollumf&auml;nglich nutzen  k&ouml;nnen.
    </p>
    <p>&nbsp;</p>
    <p>Serverdaten</p>
    <p>&nbsp;</p>
    <p>
        Aus technischen Gr&uuml;nden werden u.a. folgende Daten, die Ihr Internet-Browser an uns &uuml;bermittelt, erfasst (sogenannte Serverlogfiles):
    </p>
    <p>&nbsp;</p>
    - Ihre Position (Geolocation) (sofern von Ihnen freigegeben)</li>
    <p>&nbsp;</p>
    Diese anonymen Daten werden getrennt von Ihren eventuell angegebenen personenbezogenen  Daten gespeichert und lassen so keine R&uuml;ckschl&uuml;sse auf eine bestimmte Person  zu. Sie werden zu statistischen Zwecken ausgewertet, um unsere Angebote optimieren zu k&ouml;nnen.
    <p>&nbsp;</p>
    <p>Kontaktm&ouml;glichkeit</p>
    <p>&nbsp;</p>
    <p>Wir  bieten Ihnen auf unserer Seite die M&ouml;glichkeit, mit uns per E-Mail und/oder  &uuml;ber ein Kontaktformular in Verbindung zu treten. In diesem Fall werden die vom  Nutzer gemachten Angaben zum Zwecke der Bearbeitung seiner Kontaktaufnahme  gespeichert. Eine Weitergabe an Dritte erfolgt nicht. Ein Abgleich der so  erhobenen Daten mit Daten, die m&ouml;glicherweise durch andere Komponenten unserer  Seite erhoben werden, erfolgt ebenfalls nicht.</p>
    <p>&nbsp;</p>
    <p>Auskunft/Widerruf/L&ouml;schung</p>
    <p>&nbsp;</p>
    <p>Sie k&ouml;nnen  sich aufgrund des Bundesdatenschutzgesetzes bei Fragen zur Erhebung, Verarbeitung  oder Nutzung Ihrer personenbezogenen Daten und deren Berichtigung, Sperrung,  L&ouml;schung oder einem Widerruf einer erteilten Einwilligung unentgeltlich an uns  wenden. Wir weisen darauf hin, dass Ihnen ein Recht auf Berichtigung falscher  Daten oder L&ouml;schung personenbezogener Daten zusteht, sollte diesem Anspruch  keine gesetzliche Aufbewahrungspflicht entgegenstehen.</p>
</div>