<div class="close">
    <a href="#/settings">
        <span class="icon-close"></span>
    </a>
</div>
<div class="container">
    <b>Impressum</b>
    <p>
        Herausgeber dieser App :
    </p>
    <p>
    </p><div class="adresse">
    Cafelingo <br>
    Marek Sonnabend <br>
    Gubener Strasse 44 <br>
    10243 Berlin
</div>
    <p>&nbsp;</p>
    <p>
        <i>Urheberrechte</i>
    </p>
    <p>&nbsp;</p>
    <p>
        &copy; Copyright Cafelingo. Alle Rechte vorbehalten. Text, Bilder, Grafiken, Sound, Animationen und Videos sowie deren Anordnung auf den Cafelingo Webseiten unterliegen dem Schutz des Urheberrechts und anderer Schutzgesetze.
    </p>
    <p>&nbsp;</p>
    <p>
        Der Inhalt dieser Website darf nicht zu kommerziellen Zwecken kopiert, verbreitet, ver&auml;ndert oder Dritten zug&auml;nglich gemacht werden. Wir weisen daraufhin, dass auf den Websites enthaltene Logos teilweise dem Urheberrecht Dritter unterliegen.
    </p>
    <p>&nbsp;</p>
    <p>
        <i>Markenzeichen</i>
    </p>
    <p>&nbsp;</p>
    <p>
        Soweit nicht anders angegeben, sind alle Markenzeichen auf diesen Webseiten markenrechtlich zugunsten von Cafelingo gesch&uuml;tzt. Dies gilt insbesondere f&uuml;r Marken und Logos.
    </p>
    <p>&nbsp;</p>
    <p>
        <i>Haftungsausschluss</i>
    </p>
    <p>&nbsp;</p>
    <p>
        Diese Webseiten wurden mit gr&ouml;sstm&ouml;glicher Sorgfalt zusammengestellt. Die Inhalte werden st&auml;ndig erweitert und aktualisiert. Trotzdem kann keine Gew&auml;hr f&uuml;r die Fehlerfreiheit und Genauigkeit der enthaltenen Informationen &uuml;bernommen werden. Jegliche Haftung f&uuml;r Sch&auml;den, die direkt oder indirekt aus der Benutzung dieser Webseiten entstehen, wird ausgeschlossen, soweit diese nicht auf Vorsatz oder grober Fahrl&auml;ssigkeit beruhen.
    </p>
    <p>&nbsp;</p>
    <p>
        Am 12. Mai 1998 hat das Landgericht Hamburg entschieden, dass man durch das Ausbringen von Links unter Umst&auml;nden die Inhalte der gelinkten Seiten mit zu verantworten hat. Daher distanzieren wir uns ausdr&uuml;cklich von allen dort dargestellten Inhalten sowie von den gesamten Links, die auf den von uns gelinkten Seiten publiziert sind und &uuml;bernehmen keine Verantwortung f&uuml;r deren Inhalte. Wir erkl&auml;ren uns ausschliesslich f&uuml;r die Webseiten verantwortlich, auf deren Gestaltung und Inhalt wir selbst Einfluss nehmen k&ouml;nnen. Sollten auf irgendeiner Seite illegale Links, Texte oder Downloads zu finden sein, bitten wir um eine sofortige Information, damit wir den betreffenden Link von unserer Seite entfernen k&ouml;nnen.
    </p>
    <p>&nbsp;</p>
    <p>
        <i>Nutzungsverbot</i>
    </p>
    <p>&nbsp;</p>
    <p>
        Es ist streng untersagt, diese Webseiten zu nutzen oder zu kontaktieren, um die Webseiten, ihre Inhalte oder Sicherheitsmassnahmen zu st&ouml;ren oder zu sch&auml;digen, oder Cafelingo oder seine Produkte oder Dienstleistungen oder Mitarbeiter zu bel&auml;stigen oder zu verunglimpfen. Es darf keine unaufgeforderte E-Mail (Spam mail) an oder &uuml;ber diese Webseiten verschickt werden.
    </p>
    <p>&nbsp;</p>
    <p>
        <i>Zustimmung</i>
    </p>
    <p>&nbsp;</p>
    <p>
        Durch die Nutzung dieser Webseiten akzeptiert der Nutzer diese Bedingungen und Konditionen, die jede Nutzung und deren Folgen hieraus regeln.
    </p>
    <p>&nbsp;</p>
    <p>
        <i>&Auml;nderungen</i>
    </p>
    <p>&nbsp;</p>
    <p>
        Cafelingo beh&auml;lt sich das Recht vor, auf den Webseiten und an deren Bedingungen und Konditionen jederzeit &auml;nderungen vorzunehmen, die dann in Kraft treten, wenn die &auml;nderungen publiziert werden.
    </p>
</div>