<div class="container">
    <div class="row">
        <span data-my-translation="i_search_someone_to"></span>
    </div>
    <div class="row">
        <select name="offerSelect" id="offerSelect"
            data-ng-options="option.name for option in main.activities track by option.id"
            data-ng-model="main.offerObj"
            data-ng-change="main.changeOffer()"></select>
    </div>
    <div class="row">
        <span data-my-translation="i_search_someone_to_2"></span>
        <span data-my-translation="and_offer"></span>
    </div>
    <div class="row">
        <select name="searchSelect" id="searchSelect"
            data-ng-options="option.name for option in main.activities track by option.id"
            data-ng-model="main.searchObj"
            data-ng-change="main.changeSearch()"></select>
    </div>
    <div class="row">
        <span data-my-translation="within"></span>
    </div>
    <div class="row">
        <select name="positionsSelect" id="positionsSelect"
            data-ng-options="position.name for position in main.positions track by position.id"
            ng-model="main.chosenPosition"
            data-ng-change="main.changePosition()"></select>
    </div>
    <div class="row">
        <span data-my-translation="challenge_someone_2"></span>
    </div>
    <div class="row">
        <a class="btn text-center search-button" href="#/search">
            <span class="icon icon-search"></span>
        </a>
    </div>
</div>