<div class="container">
    <div class="row">
        <span class="label" data-my-translation="name"></span>
        <input type="text"
               data-ng-model="settings.data.userData.name">
    </div>
    <div class="row">
        <span class="label" data-my-translation="email"></span>
        <input type="text"
               data-ng-model="settings.data.userData.email">
    </div>
    <div class="row">
        <span class="label" data-my-translation="zip"></span>
        <input type="text"
               data-ng-model="settings.data.userData.zip">
    </div>
    <div class="row">
        <span class="label" data-my-translation="city"></span>
        <input type="text"
               data-ng-model="settings.data.userData.city">
    </div>
    <div class="row">
        <span class="label" data-my-translation="description"></span>
        <input type="text"
               data-ng-model="settings.data.userData.description">
    </div>
    <div data-ng-bind="settings.data.userData"></div>
</div>