<div class="close">
    <a href="#/settings">
        <span class="icon-close"></span>
    </a>
</div>
<div class="container">
    <div class="error" data-ng-if="reset.formState.error">
        <span data-my-translation="error_reset"></span>
    </div>
    <div class="success" data-ng-if="reset.formState.success">
        <span data-my-translation="success_reset"></span>
    </div>
    <form name="reset.resetForm" data-ng-submit="reset.submit()" novalidate>
        <div class="row">
            <span class="label" data-my-translation="username"></span>
            <input  type="text"
                    name="username"
                    data-ng-model="reset.userData.username"
                    required>
            <div class="error" data-ng-if="reset.formState.submitted && !reset.resetForm.username.$valid">
                <span data-my-translation="error_username"></span>
            </div>
        </div>
        <div class="row" data-ng-if="!reset.formState.success">
            <button type="submit" class="btn text-center">
                <span data-my-translation="submit"></span>
            </button>
        </div>
    </form>
</div>