<div class="container">
    <div class="row switch">

        <div class="g50 text-center" data-ng-class="{'active' : settings.language==='en'}" data-ng-click="settings.changeLanguage(settings.data.availableOptions[0].id)">
            <span data-ng-bind="settings.data.availableOptions[0].name"></span>
            <span data-ng-show="settings.language==='de'" class="icon-checkmark"></span>
        </div>
        <div class="g50 text-center" data-ng-class="{'active' : settings.language==='de'}" data-ng-click="settings.changeLanguage(settings.data.availableOptions[1].id)">
            <span data-ng-bind="settings.data.availableOptions[1].name">English</span>
            <span data-ng-show="settings.language==='en'" class="icon-checkmark"></span>
        </div>
    </div>
    <div class="row" data-ng-if="settings.token">
        <span data-my-translation="hello"></span> <span data-ng-bind="settings.name"></span>
    </div>
    <div class="row">
        <a class="btn" href="#/login" data-ng-if="!settings.token">
            <span data-my-translation="login"></span>
            <span class="pull-right icon-pfeil-more"></span>
        </a>
        <a class="btn" href="" data-ng-click="settings.logout()" data-ng-if="settings.token">
            <span data-my-translation="logout"></span>
            <span class="pull-right icon-pfeil-more"></span>
        </a>
    </div>
    <div class="row">
        <a class="btn" href="#/data">
            <span data-my-translation="registration" data-ng-if="!settings.token"></span>
            <span data-my-translation="my_data" data-ng-if="settings.token"></span>
            <span class="pull-right icon-pfeil-more"></span>
        </a>
    </div>
    <div class="row">
        <a class="btn" href="#/impressum">
            <span data-my-translation="impressum"></span>
            <span class="pull-right icon-pfeil-more"></span>
        </a>
    </div>
    <div class="row">
        <a class="btn" href="#/datenschutz">
            <span data-my-translation="datenschutz"></span>
            <span class="pull-right icon-pfeil-more"></span>
        </a>
    </div>
</div>